.embeddedServiceHelpButton {
  z-index: 1001 !important;
}
.embeddedServiceHelpButton .helpButton .uiButton {
  background-color: #05141F;
  font-family: 'Arial', sans-serif;
}
.embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #05141F;
}
.avatar
{
   position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-repeat: no-repeat;
  border: none;
  float: left;
  margin: 0 14px 14px 0;
  background-position: center;
  background-size: contain !important;
}
